:root {
    --primary: #4D0A12;
    --secundary: #800000;
    --dark: #1A1423;
    --light: #FFFCED;
    --accentOne: #FFB8B0;
    --accentTwo: #FF7373;
  }

  body {
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }

  .content {
    width: 80%;
    margin: auto;
  }

  h1, .h1 {
    color: var(--secundary);
    text-align: center;
  }

    h2, .h2 {
        color: var(--secundary);
        text-align: center;
    }

    h3, .h3 {
        color: var(--secundary);
        text-align: center;
        font-size: 1.2rem;
    }

  .button {
    display: block;
    padding: 1rem;
    background-color: var(--accentTwo);
    color: var(--light);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    border: none;
    width: 10rem;
    margin: 2rem auto;
  }

    .button:hover {
        background-color: var(--secundary);
        cursor: pointer;
    }
 
  .navBar {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: var(--primary);
    padding: 1rem;
  }
  
  .navItem {
    display: block;
    width: 6rem;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: var(--light);
    padding: 1rem;
  }

  .navItem:hover, .navItem:active {
    background-color: var(--dark);
  }

  .tegelBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
  }

  .tegelBox article {
    width: 20rem;
    height: 20rem;
    background-color: var(--accentOne);
    margin: 1rem;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .contactForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 0 auto;
    width: 50%;
  }

  .contactForm label {
    padding: 1rem;
    color: var(--secundary);
    width: 20rem;
    font-weight: bold;
    font-size: 1.3rem;
    text-align: center;
  }

  .contactForm input {
    width: 20rem;
    padding: 1rem;
    border: 2px solid var(--secundary);
  }

  .contactForm input[type="submit"] {
    background-color: var(--secundary);
    color: var(--light);
    border: none;
    font-weight: bold;
    font-size: 1.3rem;
    width: 10rem;
    margin-top: 1rem;
  }

    .contactForm input[type="submit"]:hover {
        background-color: var(--dark);
        cursor: pointer;
    }

  .footer {
    position: fixed;
    bottom: 0;
    background-color: var(--secundary);
    color: var(--light);
    width: 100%;
    padding: 1rem;
  }